**/nb-configuration.xml
**/nbproject/private/
**/build/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

**/nb-configuration.xml
**/target

**/.apt_generated_tests

**/.factorypath
**/.classpath
**/.settings
**/.idea
**/bin
**/.project
**/*.NavData
**/payara5
*.zip
**/.metadata