<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="/WEB-INF/templates/sales-main.xhtml"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:loadBundle var="msg" basename="/messages" />
    <ui:define name="content">
        Bienvenido
    </ui:define>

</ui:composition>
